{# menu logic for rendering submenu items #}

<nav class="nav-hidden">
     <ul class="nav-main nav__main-hidden">
         {% for item in menu.items %}
         {% if item.children %}
          <li>{{item.title}}
               {% for child in item.children %}
               {{child.title}}
               {% endfor %}
          </li>
     {% else %}
             <li class="nav__main-item {{ item.classes|join(' ') }}">
                 <a class="nav__main-link" href="{{ item.link }}">{{ item.title }}</a>
                 <!-- ... -->
             </li>
          {% endif %}
     {% endfor %}
     </ul>
   </nav> 
