{% extends "layouts/base.twig" %}

{% block content %}

{% for property in post.properties %}

<div class="property__post-container">
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
  {% set image = Image(properties.image) %}
      <img src="{{ Image(post.meta('hero_image')).src }}" srcset="{{ image.src|retina(1) }} {{ image.src }}">

<h3> {{ property.realtor.name }} </h3>
<h2> {{ property.realtor }} </h2>
<h2> {{ property.price }} </h2>
</article>

{% else %}
<p> Sorry not for Sale </p>
{% endfor %}

</div>

{% endblock %}