{% extends "/views/base.twig" %}

{% block content %}
  
     <div class="home">
                <img src="{{ Image( post.get_field('property_image').src) }}" alt="House 1" class="home__img" />
                <svg class="home__like">
                    <use xlink:href="img/sprite.svg#icon-heart-full"></use>
                    <img src="{{ Image(post.meta('hero_image')).src }}" />
                </svg>
                <h5 class="home__name">{{ post.property_description }}</h5>
                <div class="home__location">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                    </svg>
                    <p>{{ post.city }}</p>
                </div>
                <div class="home__rooms">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-profile-male"></use>
                    </svg>
                    <p>{{ post.room_number }}</p>
                </div>
                <div class="home__area">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-expand"></use>
                    </svg>
                    <p>{{post.size}}<sup>2</sup></p>
                </div>
                <div class="home__price">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-key"></use>
                    </svg>
                    <p>{{ post.listed_price }}</p>
                </div>
                <button class="btn home__btn">{{ post.realtor_contact }}</button>
      </div>
  <!-- / c-person -->

{% endblock %}