{% extends "/views/base.twig" %}


{% block content %}

    <section class="homes">
    
        {% for posts in team %}

            <div class="home">
            {# {{ posts.meta('property_image') }} #}
                <img src="{{ feature.image }}"  class="home__img" alt="{{ posts.title }}" />
                <svg class="home__like">
                    <use xlink:href="img/sprite.svg#icon-heart-full"></use>
                </svg>
                <h5 class="home__name">{{ posts.title }}</h5>
            {# top image section of card #}


                <div class="home__location">
                    <svg>
                        <use xlink:href="../../../uploads/sprite.svg#icon-map-pin"></use>
                    </svg>
                    <p>{{ posts.member_name }}</p>
                    <p>{{ posts.member_description }}</p>
                  
                </div>


                <div class="home__rooms">
                    <svg>
                        <use xlink:href="../../../uploads/sprite.svg#icon-profile-male"></use>
                    </svg>
                   <h3 class="home__card-title"> Houses Sold </h3>
                    <p> {{ posts.houses_sold }} </p>
                </div>


                <div class="home__area">
                    <svg>
                        <use xlink:href="../../../uploads/sprite.svg#icon-expand"></use>
                    </svg>
                     <h3 class="home__card-title">Size</h3>
                    <p>{{posts.size}} M<sup>2</sup></p>
                </div>


                <div class="home__price">
                    <svg>
                        <use xlink:href="../../../uploads/sprite.svg#icon-key"></use>
                    </svg>
                    <h3 class="home__card-title">Price</h3>
                    <p>{{ posts.listed_price }}</p>
                </div>

                  <a href="{{ posts.member_contact }}" class="btn home__link"> 
                    Contact {{ posts.member_contact }}
                  </a>
               
            </div>


        {% endfor %}
    
    </section>



{% endblock %}